---
import { getEntry } from "astro:content";
const contentConfig = await getEntry("about", "about");

const home = contentConfig.data.aboutBody;
---

<section id="LandingAbout" class="not-prose">
  <div class="flex justify-center bg-white">
    <div class="max-w-5xl">
      <div class="flex md:flex-row flex-col py-20">
        <div class="md:w-1/2 flex justify-center md:pl-10">
          <img
            src={contentConfig.data.aboutBody.images.landingAbout}
            class="object-cover aspect-[4/3] rounded-xl h-96 max-md:p-4"
            alt=""
          />
        </div>
        <div
          class="md:w-1/2 flex-col ml-5 mx-3 max-md:text-center flex justify-center"
        >
          <div
            class="text-2xl text-primary font-bold max-md:text-center font-poppins"
          >
            {home.indexLandingAboutHeader}
          </div>
          <div class="text-primary my-5 text-justify">
            {home.indexLandingAboutDescription}
          </div>
          <div class="">
            <a href="/about/">
              <button
                class="border-2 border-primary text-white rounded-xl bg-primary hover:bg-secondary hover:text-white py-3 px-4 text-md font-bold font-quattro"
                >Learn More</button
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
