<div class="flex justify-center mt-6 mb-12">
  <link
  href="https://assets.calendly.com/assets/external/widget.css"
  rel="stylesheet"
/>
<script
  src="https://assets.calendly.com/assets/external/widget.js"
  type="text/javascript"
  async></script>
<a
  href=""
  class="p-3 px-6 pt-2 text-white font-bold bg-primary rounded-full shadow-2xl baseline hover:bg-gray-300"
  onclick="
  Calendly.initPopupWidget({ url: 'https://calendly.com/ggilabs/ggilabs?hide_event_type_details=1&hide_gdpr_banner=1' }); return false;
"
  >Schedule With Calendly</a
>
</div>